<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/6836fdea3b.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
         <div><img width="180" src="/images/logo-mercado-liebre.svg" alt="">
            <div class="field" id="searchform">
                <input type="text" id="searchterm" placeholder="Buscar productos, marcas" />
                <button type="button" id="search" ><i class="fa-solid fa-magnifying-glass"></i></button>
                
              </div>
              
              <script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        </div>
        <div class="centrado">
        <i class="fa-solid fa-hand-holding-dollar"></i>
        <span>Comprá en cuotas y sin tarjeta de credito</span>
        </div>
        <nav>
            <ul>
                <li type="none"><a href="#">Ofertas</a></li>
                <li type="none"><a href="#">Tiendas Oficiales</a></li>
                <li type="none"><a href="#">Vender</a></li>
                <li type="none"><a href="#">Ayuda</a></li>
            </ul>

            <ul>
                <li type="none"><a href="#">Creá tu cuenta</a><i class="fa-solid fa-id-card"></i></i></li>
                <li type="none"><a href="#">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li type="none"><a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>
    </header>
<main>
    <section>
        <img width="360" src="/images/img-home-banner.jpg" alt="">
        <h2>Basado en tu última visita</h2>
        <article>
            <img width="360" src="/images/img-cafetera-moulinex.jpg" alt="">
            <h4>$6.770</h4>
            <h3>40% OFF</h3>
            <h3>Cafetera Moulinex</h3>
        </article>
        <article>
            <img width="360" src="/images/img-macbook-pro-2019.jpg" alt="">
            <h4>$230.000</h4>
            <h3>20% off</h3>
            <h3>MacBook Pro 2019</h3>
        </article>
        <article>
            <img width="360" src="/images/img-samsung-galaxy-s10.jpg" alt="">
            <h4>$70.500</h4>
            <h3>10% off</h3>
            <h3>Samsung Galaxy S10</h3>
        </article>
        <article>
            <img width="360" src="/images/img-tv-samsung-smart.jpg" alt="">
            <h4>$23.200</h4>
            <h3>5% off</h3>
            <h3>SmartTv Samsung 43"</h3>
        </article>
    </section>
    <section>
        <h2>Ofertas</h2>
        <article>
            <img width="360" src="/images/img-cafetera-moulinex.jpg" alt="">
            <h4>$6.770</h4>
            <h3>40% OFF</h3>
            <h3>Cafetera Moulinex</h3>
        </article>
        <article>
            <img width="360" src="/images/img-macbook-pro-2019.jpg" alt="">
            <h4>$230.000</h4>
            <h3>20% off</h3>
            <h3>MacBook Pro 2019</h3>
        </article>
        <article>
            <img width="360" src="/images/img-samsung-galaxy-s10.jpg" alt="">
            <h4>$70.500</h4>
            <h3>10% off</h3>
            <h3>Samsung Galaxy S10</h3>
        </article>
        <article>
            <img width="360" src="/images/img-tv-samsung-smart.jpg" alt="">
            <h4>$23.200</h4>
            <h3>5% off</h3>
            <h3>SmartTv Samsung 43"</h3>
        </article>
    </section>
</main>
</body>
    <footer>
        <i class="fa-solid fa-credit-card"></i>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        
        <i class="fa-solid fa-gift"></i>
        <h3>Envío gratis desde $ 2.500</h3>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        
        <i class="fa-solid fa-user-shield"></i>
        <h3>Seguridad, de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        
        <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
    </footer>
</html>