body header {
    background-color: #EAC926;
    font-family: 'Roboto', sans-serif;
    
}
main{
    background-color:#ebebeb; 
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
footer{
    background-color:#ebebeb; 
    font-family: 'Roboto', sans-serif;
    color: #666;
    text-align: center;
}
.centrado{
    text-align: center;
}

h2{
    font-size: 24px;
  }
  
h3{
    font-size: 18px;
    text-align: center;
}

span{
    font-size: 12px;
}

li{
    font-size: 12px;
}
h4 {
    font-size: 16px;
} 
.burger-menu{
    background-color: blue;
    color: #ffff;
    display: block;
    width: 40px;
    padding: 8px 0;
    border-radius: 4px;
    text-align: center;
    font-size: 22px;
    margin: auto
}
@media (max-width: 600px) {
    .burger-menu{
        display: block;
    }
}

p{
    font-size: 16px;
    text-align: center;
    margin: 0;
    padding: 0;
}

footer i {
    color: blue;
    display: block;
    width: 100px;
    margin: auto;
    font-size: 36px;
    padding-top: 10px;
}